# Git
.git
.gitignore

# Environment Variables
.env

# Docker
docker-compose.yml
docker-compose.override.yml

# Build Logs & Folders
node_modules/
dist/
build/
*.log

# OS Metadata
.DS_Store
Thumbs.db